script(type="text/x-template" id="foto-template")
  main.main.game.game_foto(v-show="isShown")
    .container
      .main__header
        a.main__header-link(href="/" @click.prevent="goBack") На главную
        h1.title.game__title добавь свою фотографию
      ul.fotos
        li.foto.foto__item(v-for="item in ulist")
          label.foto__btn(v-bind:for="item.id")
            input.foto__input(@change="addFoto" :id="item.id" v-bind:name="item.id" type="file")
          .foto__text Нажми, чтобы загрузить  фото
          .foto__self(v-show="item.foto_status" :style="{ 'background-image': 'url(' + item.foto_status + ')' }")
            .foto__self-img
            .foto__self-text
        li.foto.foto__item.foto__item_last
          label.foto__btn(for="last")
            input.foto__input(@change="addFoto" id="last" name="last" type="file")
          .foto__text Нажми, чтобы загрузить  фото
          .foto__self
            .foto__self-img
            .foto__self-text    
    .question
      .container
        .question__banner   