script(type="text/x-template" id="start-template")
  main.main.start(v-show="isShown")
    .container
      h1.title.start__title panini: собери свою коллекцию  звезд футбола!
      section.section.start__section.section_main(
        v-show="utype")
        p.section__text Любишь футбол? Знаешь всех крутых футболистов? Проверь свои знания! Участвуй в викторине, ответь на вопросы о любимых игроках и стань обладателем 250 наклеек, коллекционного альбома или футболки  со своим именем!
        button.btn-main(@click.prevent="startGame") УЧАСТВОВАТЬ
        a(href="quizz-rules.pdf" target="_blank" class="section_main-link") Правила конкурса  
      section.section.start__section.section_main.start__section_num
        h2.section__subtitle.section__subtitle_b призовой фонд от Panini
        .section__content
          .section__elem
            .section__number 130
            .section__desc
              .section__descr-big Призов
              .section__descr-small альбом
              .section__descr-small + 250 наклеек
          .section__elem
            .section__number 15
            .section__desc
              .section__descr-big Главных призов
              .section__descr-small альбом
              .section__descr-small + 250 наклеек
              .section__descr-small + футболка с твоим именем

      section.section.start__section.section_border.start__section_game-one(
        v-show="utype")
        .section__inner
          h2.section__subtitle.section__subtitle_b Викторина «Знаешь ли ты звёзд мирового футбола?»
          p.section__text Ответь правильно на вопросы викторины и поборись за звание самого активного болельщика!
          button.btn-main(@click.prevent="startGame") играть
      section.section.start__section.section_border.start__section_game-two(
        v-show="utype && gstatus")
        .section__inner
          h2.section__subtitle.section__subtitle_b Конкурс «Самый активный болельщик»
          p.section__text Как ты поддерживаешь любимую команду? Расскажи всем! Присылай фотографии в форме футбольного клуба, с мячом, шарфом, набором наклеек, со стадиона или со своей собственной тренировки и докажи, что ты самый активный болельщик! Авторы самых  ярких и интересных снимков смогут побороться за главный приз: именную футболку!
          button.btn-main(@click.prevent="sendFoto") отправить фото
      section.section.start__section.section_border.start__section_game-adv
        .section__inner
          h2.section__subtitle.section__subtitle_b Наклейки Panini – это азарт поиска и радость обладания!
          p.section__text Золотой мир футбола в альбоме Panini FIFA365-2018. Коллекция наклеек посвящена 25 лучшим футбольным клубам. Каждый клуб представлен наклейками с логотипом, командным фото и ключевыми игроками в официальной форме. Про каждого футболиста в коллекции собрана важная статистика: участие в чемпионатах, забитые голы, игровая позиция и ведущая нога, гражданство, год рождения и статус игрока. Всего в коллекции для вклеивания в альбом 602 наклейки.
          h2.section__info Хочешь знать больше о мировом клубном футболе? Собирай наклейки Panini FIFA 365-2018, обменивайся с друзьями и создай  свою коллекцию звезд футбола!
      section.section.start__section.section_buy
        a.section__link-buy(href="/" @click.prevent="buyThis") Где купить? 