table(class="table" border='0', cellspacing='0', cellpadding='2', style='border-top:solid 1px #000000; border-left:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Город
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Название магазина/киоска
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Адрес магазина/киоска
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. К. Маркса 59
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Н. Ершова 78
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Р. Зорге 93
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Станция метро Площадь Тукая
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Н. Ершова 1А Корстон
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Станция метро Горки
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Белинского 4
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Станция метро Проспект Победы
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Чуйкова 69
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Парковая 6
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Короленко 81
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Фрунзе 5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Мусина 68 б
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Лаврентьева 9
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Даурская 40
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Еники 2/53
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ДЕЙЛИ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Декабристов 127
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Казань
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Рихарда Зорге, 66 Тц "Олимп"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Горького у а/о "Сберкасса"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Донская, 90, у библиотеки
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Московская пересечение с Конституции
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Навагинская, у магазина "Книги"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Донская, 50
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Крымская, 32
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Труда, автобусная остановка «КСМ»
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Гагарина, у дома №54 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Донская, 96/2, за ТЦ "Юбилейный"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Пластунская, 2 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Донская, 5 /Гагарина, 72, а/о ТД "Бегемот"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Политехническая, в районе института
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Горького, пересечение с Северной
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Бытха, у остановки к-т "Аэлита"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Курортный проспект, у остановки «Светлана»
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Горького 54, у подземного перехода
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Горького 56 "Б" здание ОПП
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Новая заря, 7 со стороны набережной
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Победы, 67
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Победы, 131
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Батумское шоссе, 29А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Армавирская у 72
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Армавирская у ТЦ "Дарья"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ОДС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Демократическая, около ярмарки "Татулян"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сочи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Виноградный переулок, 2а ТЦ "Сочи"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Фрунзе 2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') наб. кан. Грибоедова 71
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Заневский пр. 20
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Разъезжая 16/18
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Некрасова 46
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Рубинштейна 10
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Гончарная 18
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "НЕВА-ПРЕСС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ленинский пр. 119
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №1 ул. 7-я Красноармейская 2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №4 ул. Бабушкина 10, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') № 5 пл. Ал. Невского 2, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №6 пл. Балтийского вокз.1, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №7 Комендантский пр. 12, соор.№1,лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №8 Комендантский пр. 12, соор.№1, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №10 ул. Елецкая 15а, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №15 пл. Сенная соор 1, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №16 Гражданский пр. 116, к.1, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №18 Невский пр. 30, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №22 Московский пр., соор. №2, лит Б
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №23 Московский пр., соор. №2, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №24 пл. Заневская соор.№1,лит.А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №25 ул. Б.Новаторов соор.№2, лит Б
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №27 Добролюбова пр., соор.№1, лит. А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №28 Заневский пр., 69, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №29 Невский пр., соор. №2, лит. Г
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №35 Гражданский пр., 116, к.1, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №36 Савушкина пр., 2 лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №37 Каменоостровский пр., 37, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №38 Стачек пр. 90, к. 2, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "ПЕРВАЯ ПОЛОСА"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') №40 ул. Дыбенко 26, лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект науки,12
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Средний проспект, 53/29
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Разъезжая, 12
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Б. Сампсониевский проспект, 66 Е
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Бабушкина, 7
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Байконурская, 14 лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ярослава Гашека, 6 лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лиговский проспект, 52
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Московский проспект, 208
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Нарвский проспект , 24/2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Новочеркасский пр-т, 26/16
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Энгельса 115, корп.1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Ветеранов, 101
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Энгельса, 154 лит А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Тепловозная, 31
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Пер. Гривцова, 24
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Измайловский пр-т, 4
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Кирочная, 18
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Большая Зеленина, 16
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Санкт-Петербург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "КОМУС"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Московский проспект, 137 корп. Б
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Нахимовский пр-т, 48
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Большая Спасская, 27
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Маршала Рыбалко, 10 корп.1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Вешняковская, 39г
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Дубнинская, 55
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Краснопрудная, 5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Краснопрудная, 7/9
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') 1-я Квеситская, 18 стр. 1 павильон 7
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Менжинского, 32, павильон 32
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Земляной Вал, 29
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Комсомольская пл, 5 2-й этаж ярославского вокзала
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Комсомольская пл, 3 (выход к пригородным поездам)
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Комсомольская пл, 3 помещение А-13 (Ленинградский Вокзал)
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пл. Павелецкого вокзала, 1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Солдатская, 6 А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Саянская ул, 9 а
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ул. Крылатская, 17 корп. 3 Бизнес-центр
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ивана Франко, 10/3
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "СПРИНТ"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пл. Савеловского вокзала, 2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Новоясеневский проспект, д. 1, ТЦ "Спектр", 2 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Академика Анохина, д. 2, к. 1б, 2 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Савелкинский проезд, д. 8 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  ул. Домодедовская, д. 28, корп. 1, ТД "Белград", цокольный этаж
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Вешняковская, д. 18а, ТЦ "Мегаком", 3 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Алтуфьевское шоссе, д. 86, корп. 1, ТЦ "Ареал", 2 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Декабристов, д. 10/2 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Пронская, д. 2 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Осенний бульвар, д. 7, стр. 1, ТЦ "Матрица", 1 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Новокосинская, д. 47 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Таллинская, д. 18 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Пырьева, д. 16 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  ул. Бутырская, д. 86а, 1 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Поляны, д. 8, ТЦ "Вива", 2 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Андропова, д. 8, ТРЦ "Мегаполис" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  г. Троицк, ул. Городская, вл. 6, ТЦ "Троицк", 3 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Варшавское шоссе, д. 87Б, 3 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  ул. Сходненская, д. 56, 4 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Мичуринский проспект, д. 7, корп. 1 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Бульвар Дмитрия Донского, д. 1, ТЦ "Северное сияние"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Ладожская, д. 8, цокольный этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  Варшавское шоссе, д. 160, 2 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Соколово-Мещерская, д. 16/114 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Правобережная, д. 1Б 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Воротынская, д. 6
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') г. Красногорск, ул. Международная, д. 12, ТРК "Вегас" в Крокус-Сити, 3 этаж
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ленинский проспект, д. 62/1 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') г. Московский, мкр. 1, д. 32А 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
      | проспект Вернадского, д. 6, ТЦ "Капитолий", 3 этаж ул .Миклухо-Маклая, д. 32А, ТЦ "Капитолий", 2 этаж
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ходынский бульвар, д.4., ТЦ "Авиапарк", 4-й этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Солнцевский проспект, д. 21, ТЦ "Столица", 3 этаж 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') г. Зеленоград, Панфиловский проспект, д. 6А, ТЦ "Панфиловский", 3 этаж. 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Литовский бульвар д. 22, ТД "Ясенево"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Мичуринский пр-т, Олимпийская деревня, д.3, корп.1 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') г. Московский, ул. Хабарова, дом 2, ТРК «Новомосковский» 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Серпуховский Вал, д. 3 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Пресненская набережная, д. 2, ТРЦ "Афимолл сити" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') п. Коммунарка, ул. Александры Монаховой, двлд. 30,стр.2 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пос. Внуковское, ул. Летчика Ульянина, д. 5 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') проспект Вернадского, д. 39 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Ярцевская, д. 19, ТЦ "Кунцево Плаза"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Мичуринский пр-т, д. 27, ТЦ "Тиара" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  Каширское шоссе, д. 14, ТРЦ "Гудзон" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. 7-ая Кожуховская, д. 9, ТРК "Мозаика" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул.Автозаводская, д.18, ТРЦ "Ривьера" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  84-й км. МКАД, ТРК "Весна" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пр-д Багратионовский д. 5 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Севастопольский пр-т, д. 11-е, ТЦ "Капитолий" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Поречная, д. 10, ТРК "Мари" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') д. Сосенки, Ясеневая улица, д. 5, ЖК "Дубровка" 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Мичуринский проспект, д. 34 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Маршала Бирюзова, д. 32 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Столетова, д. 17 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Новоясеневский проспект, вл. 7, ТЦ "Калита"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лабиринт
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') г. Зеленоград, 23 мкр. "Зеленый бор", корп. 2309А, ТЦ "Столица"
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Балашиха
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Свердлова, 20
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Долгопрудный
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пр- Пацаева, 15 А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Клин
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Советская пл. 11/1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Королев
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пр-т Королева, 22
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Мытищи
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. Волошиной 12/30
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ногинск
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ул. 3-го Интернационала, 77
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Павловский Посад
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Герцена, 14
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Пушкино
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СИЛЬВЕРХОФ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Пушкинское ш, 2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Боровая, 20
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Мастеркова, 3
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Новочеремушкинская, 1/14
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Борисовские пруды, 26/2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Часовая, 16
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Енисейская, 19
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Пришвина, 22
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Лесная, 4
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Братиславская, 14
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Варшавское шоссе, 75 корп 1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Космонавтов, 12
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Головинское шоссе, 5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Люсиновская, 2 стр 1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Покровка, 4
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Андропова, 26
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Верхняя Красносельская, 34
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Осенний бульвар, 16 корп 1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Земляной вал 21/2 стр 1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Краснодарская 44/13
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Люблинская, 165
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Митинская, 40
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ярцевская, 34
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сивашская, 4 корп 1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Зеленый пр-т, 66 корп.1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Маршала Бирюзова, 28
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Декабристов 2 корп.2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Дубнинская, 11/17
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Первомайская, 100
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') 3-я Владимирская, 31/33
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Куусинена, 5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Фомичевой 16 корп. 5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ленинский пр-т, 99
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Мира, 61
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Рязанский проспект, 40/2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Бутырская, 7
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Снежная, 26
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Щербаковская, 20
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стромынка 5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Бульвар Яна Райниса, 14 корп.1
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Новоспасский пер, 3 корп.2
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Профсоюзная 129 А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Малая Тулская, 29
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Тушинская, 17
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Проспект Вернадского, 9/10
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Балаклавския пр-т, 5 А стр.7
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Шаболовка, 38
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Большая Семеновская, 16
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Кировоградская, 14
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') пр-т Ленина 23/5
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Каширское шоссе, 3 А
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Зеленоград, корп. 1818
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') КОМУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Панфиловский пр-т, 6а
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Кутузовский пр-т 30
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Кутузовский пр-т 24
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Шарикоподшипниковская, 32
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Большая Академическая, 77
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ивана Франко, 37
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Челябинская, 7
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Тушинская, 16 ст. 1а
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Луганская, 9а
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Смольная, 35
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Чертановская, 36 ст 3
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Люберцы, Попова, 11
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Дубравная, 40/4
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Москва
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') У МЕТРО
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') г. Троицк Юбилейная, 3
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Барнаул
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Роспечать-Алтай
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (3852) 63-73-77
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Владивосток
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') СТРОКА
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (423) 244-83-66
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Волгоград
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Союзпечать
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (8442) 72-48-65
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Воронеж
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Сегодня-Пресс-Воронеж
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (473) 220-44-20б 
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Екатеринбург
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Апрель Логистик
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (343) 345-28-01
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Нижний Новгород
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Шанс Пресс
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (831) 417-87-42
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Новосибирск
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') "АРПИ" "Сибирь"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (383) 227-77-67
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Омск
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') ооо "Движение"
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (3812) 6-2-3-4-5-6
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Челябинск
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Азбука
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') (351) 268-99-09
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') cardplace.ru
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Ozon.ru
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стойки прессы сети гипермаркетов АШАН
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стойки прессы сети гипермаркетов ГИПЕРГЛОБУС
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стойки прессы сети гипермаркетов ЛЕНТА
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стойки прессы сети гипермаркетов ОКЕЙ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стойки прессы сети гипермаркетов АЗБУКА ВКУСА
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
  tr
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;') Стойки прессы сети гипермаркетов МАГНИТ
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')  
    td(style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;')
